* {
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-kerning: auto;
}

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  line-height: 1;
}

label {
  font-size: 15px;
}

.notice-bar {
  max-width: 100vw;
  padding: 20px;
  margin: 20px;
}

.notice-bar .am-notice-bar,.notice-bar.info-bar {
  background-color: #e8787c;
  color: #fff;
  overflow: hidden;
  border-radius: 5px;
}

.am-button {
  cursor: pointer;
}